@charset "UTF-8";

fieldset{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
}

input{
    margin: 10px;
}

fieldset#usuario{
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco{
    background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#menssagem{
    background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido{
    background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}